body,main{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

b{
    color:rgb(74, 169, 207)
}

/*Variables*/
$fuente-titulo2: 'Times New Roman', Times, serif;


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.logo-container{
    img{
        width: 240px;
    }
}

.links-container{
    a{
        padding: 20px;
    }
}

.body-index-container{
    background-image: url(../galeria/fondos/fondo2.jpg);
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 80vh;
    
}

.titulos-container{
    background-color: transparent;
    h2,h1{
        margin: 0;
        color:#000;
        font-size: 50px;
        text-shadow: 1px 1px 1px #fff;
        padding: 5px;
    }
}

#titulo-h2{
    font-size: 38px;
    font-family: $fuente-titulo2;
}

#titulo-h1{
    color:#49a9cf;
    text-shadow: 1px 1px 1px #000;
}

/*----------------Especialidades------------------------------*/

.especialidades-index-container{
    margin:100px 0 100px 0
}

.titulo-especialidades{
    h2{
        text-align: center;
        font-size: 50px;
    }
}

.especialidades-grid-container{
    display: grid;
    grid-template-areas:
    "especialidadesItems especialidadesHorarios";
    grid-template-columns: 2fr 0.5fr;
}

.especialidades-items-container{
    display: flex;
    flex-wrap: wrap;
    grid-area:especialidadesItems
}

.especialidades-horarios-container{
    grid-area:especialidadesHorarios
}

.especialidades-items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.especialidades-items{
    border-radius: 20px;
    padding:5px 5px 20px 5px;
    margin:10px;
    background-color: #49a9cf ;
    color:#fff;
    &:hover{
        background-color: #49a9cf;
        box-shadow:0 0 20px #000;
        transform:scale(1.01)
    }
    figure{
        width: 210px;
        height: 230px;
        margin:0;
        img{
            width: 100%;
            transition-duration: 0.2s;
            border-radius: 20px;
            &:hover{
                transform: scale(1.03);
            }
        }
    }
}

.titulo-especialidades{
    text-align: center;
    h3{
        font-size: 26px;
        margin:0;
        background-color: none;
        
    }
}

.horarios-items-container{
    display: grid;
    grid-template-areas:
    "dias horarios";
    grid-template-columns: 1fr 2fr;
}

.horarios-dias{
    grid-area:dias;
    p{
        margin-bottom: 40px;
    }
}

.horarios-horarios{
    grid-area: horarios;
    p{
        margin-bottom: 40px;
    }
}

/*----------------------Nosotros*------------------------*/

.nosotros-index-container{
    margin:150px 0 200px 0
}


#titulo-nosotros{
    text-align: center;
    font-size: 70px;
}

.nosotros-grid-container{
    display: grid;
    grid-template-areas:
    "tituloHistoria imagenHistoria"
    "textoHistoria imagenHistoria"
    "imagenMision tituloMision"
    "imagenMision textoMision";
    grid-template-columns: 1fr 1fr;
    margin:70px 50px;
    padding: 40px;
    align-items: center;
    box-shadow: 0 0 20px #000;
}

.tituloHistoria{
    grid-area:tituloHistoria
}

.texto-historia{
    grid-area:textoHistoria;
    background-size: cover;
    background-position: center;
    p{
        text-align: justify;
    }
}

.imagen-historia{
    grid-area:imagenHistoria;
    display: flex;
    justify-content: center;
    figure{
        width: 400px;
        img{
            width: 100%;
            border-radius: 20px;
        }
    }
}

.titulo-mision{
    grid-area:tituloMision;
    padding-top: 100px;
}

.imagen-mision{
    grid-area: imagenMision;
    padding-top: 100px;
    display: flex;
    justify-content: start;
    figure{
        width: 400px;
        margin:0;
        img{
            width: 100%;
            border-radius: 20px;
        }
    }
}

.texto-mision{
    grid-area:textoMision;
    p{
        text-align: justify;
    }
}

/*-------Turnos----*/

.turnos-grid-container{
    display:grid;
    grid-template-areas:
    "turnosImagen tituloContacto"
    "turnosImagen turnosContacto";
    grid-template-columns: 1fr 1fr;
    margin:50px;
    box-shadow: 0 0 8px #000;
}

.turnos-imagen{
    color:#fff;
    grid-area:turnosImagen;
    background-image: linear-gradient(to top,rgba(44, 127, 160, 0.8),rgba(66, 151, 185, 0.8)),url(../galeria/fondos/fondo4.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.turnos-imagen-titulo{
    h2{
        font-size: 30px;
        margin:0px;
    }
    b{
        font-size: 40px;
        color:#ff0000;
    }
}

.turnos-imagen-texto{
    p{
        font-size: 18px;
        text-align: justify;
    }
}

.turnos-imagen-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    h3{
        margin:0
    }
}

.turnos-imagen-icons-item{
    margin:  20px;
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    &:hover{
        background-color: #49a9cf;
        cursor: pointer;
        box-shadow: 0 0 4px #fff;
    }
}

.icon{
    height: 20px;
    width: 20px;
    padding-right: 5px;
}

.titulo-contacto{
    grid-area:tituloContacto;
    padding: 20px;
    text-align:center;
}

.turnos-contacto{
    grid-area:turnosContacto;
    padding:0 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center
}

section{
    margin:30px 0;
    input{
        width:100%;
        height: 30px;
        border-radius:10px;
        border: solid #000 1px;
        font-size: 16px;
        &:hover{
            background-color: #89bbcf;
            color:#fff;
        }
    }
}

#section-input{
    display: flex;
}

#section-input-nombre{
    margin-right:5px
}

#boton-reservar{
    cursor:pointer;
    &:active{
        transform: scale(1.04);
    }
    
}
